{% extends 'base.html' %}

{% block title %}
    О сайте
{% endblock %}

{% block body%}
    <h1>О сайте</h1>
    <div class="card text-black bg-info" >
        <div class="card-body" bis_skin_checked="1">
            <p class="card-text">Веб-приложение ToDo разработано Матвеевым Сергеем, учеником 9Б класса. В основе работы лежит язык программирования python
        и его фреймворк flask, предназначенный для создания серверной части сайта - backend.</p>
            <p class="card-text">ToDo - это простой список задач. Нужен он для того, чтобы контролировать и не забывать дела, которые нужно сделать за день.</p>
        </div>
    </div>
{% endblock %}