<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/icon.ico') }}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
      <a href="/" class="badge bg-info text-wrap mx-2 text-decoration-none fs-5">
        ToDo
      </a>
      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="btn btn-primary m-1" href="/">Текущие задачи</a>
        <a class="btn btn-danger m-1" href="/tasks/deadline">Последний день</a>
        <a class="btn btn-secondary m-1" href="/tasks/overdue">Просроченные задачи</a>
        <a class="btn btn-success m-1" href="/tasks/completed">Закрытые задачи</a>
        <a class="btn btn-primary m-1" href="/tasks">Все задачи</a>
        <a class="btn btn-primary m-1" href="/create_task">Создать задачу</a>
        <a class="btn btn-primary m-1" href="/about">О сайте</a>

       </nav>
    </div>
    <div class="container">
        {% block body %}{% endblock %}
    </div>
    <footer class="container pt-4 my-md-5 pt-md-5 border-top">
    </footer>
</body>
</html>
